.formLabel {
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

label {
  display: block;
}
.error {
  color: red;
}
#changeName {
  display: inline-block;
}
#loginForm {
  border: 2px solid black;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
#smallWelcomInfo {
  margin-left: auto;
  margin-right: auto;
}

.showPasswordsButton,
.loginButton,
.cancelButton,
.submitButton {
  background-color: rgb(50, 50, 50);
  border: none;
  -webkit-appearance: none;
  color: orange;
  border-radius: 5px;
  outline: 1px solid orange;
  width: 30%;
}
.smallFormChoice {
  padding: 4px;
  color: orange;
  text-shadow: 3px 0px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#login,
#signUp,
#selectTeam {
  width: 100%;
}
