button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.formLabel {
  font-size: 25px;
  font-weight: bold;
}

label {
  display: block;
}
.error {
  color: red;
}
#changeName {
  display: inline-block;
}
#loginForm {
  border: 2px solid black;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
