form {
  display: block;

  margin-left: auto;
  margin-right: auto;
}
fieldset {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#changeRoleFieldset,
#addPlayerFieldset,
#changeWinningsFieldset,
#changeTeamNameFieldset {
  background: none;
  border: 2px solid rgb(50, 50, 50);
  color: rgb(50, 50, 50);
  font-weight: bold;
}

#changeRoleForm,
#addPlayerForm,
#changeWinningsForm,
#changeTeamNameForm {
  background: cornflowerblue;
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid darkorange;
  border-radius: 10px;
}
.manageTeamSubmitButton {
  background: rgb(50, 50, 50);

  -webkit-appearance: none;
  color: darkorange;
  border-radius: 5px;
  border: 2px solid darkorange;
  width: 40%;
  font-weight: bolder;
}
#addPlayer,
#winnings {
  width: 80%;
}
#teammateSelect,
#roleChange,
#newRoleChange {
  width: 60%;
  height: 40px;
  border: 2px solid darkorange;
  background-color: rgb(50, 50, 50);
  color: darkorange;
  font-size: 100%;
}
