* {
  box-sizing: border-box;
}

#navParent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #bbb;
  padding: 15px;
}
#log-out-button {
  margin: 0px;
}
#greeting {
  margin: 0px;
}
