* {
  box-sizing: border-box;
}

#navParent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid darkorange;
  padding: 15px;
}
#log-out-button {
  margin: 0px;
  font-weight: bold;
  text-decoration: none;
  font-family: inherit;
}
#greeting {
  margin: 0px;
}
.navBarLink {
  text-decoration: none;
  font-weight: bold;
}
#dropDownMenu {
  width: 60px;
  height: 40px;
  padding-top: 0px !important;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0px;
  background-color: rgb(50, 50, 50);
  border: none;
}
#dropDownMenu:focus {
  border: none;
}
.hamburger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 100%;
  margin-top: 5px;

  background-color: darkorange;
}
.bottomHamburger {
  margin-bottom: 5px;
}

#smallScreenLogoutButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
/* #smallScreenNav {
  visibility: hidden;
} */
#dropDownNavWindow {
  background-color: rgb(50, 50, 50);
  border: 2px solid darkorange;
  color: white;
  width: 300px;
  height: 70vh;
  position: fixed;
  right: 50%;
  top: 15vh;
  margin-right: -150px;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
}
#blurBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  padding-bottom: 100px;
}
#windowFrame {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}
.miniNavBar {
  margin: 10px;
  border: 2px solid darkorange;
  border-radius: 5px;
  padding: 8px;
  overflow: hidden;
}
#settingsCancelButton {
  margin: 10px;
  border: 2px solid darkorange;
  border-radius: 5px;
  padding: 8px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background: rgb(50, 50, 50);
  color: darkorange;
}

a:link {
  color: darkorange;
}
a:visited {
  color: darkorange;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

#greeting {
  color: darkorange;
}
.logoutButton {
  color: darkorange;
  background: none;
  border: none;
  font-size: 15px;
}
.logoutButton:hover {
  color: white;
}
/* Media queries */
