button {
  display: block;

  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.formLabel {
  font-size: 25px;
  font-weight: bold;
}

label {
  display: block;
}
.error {
  color: red;
}
#signUp {
  margin-top: 15px;
  margin-bottom: 15px;
}
#registerForm {
  margin: 15px;
}
