* {
  box-sizing: border-box;
}

#extendButton {
  display: inline-block;
  padding: 0px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
}

#compressedList {
  margin: 0px;
  height: 50px;
  border-bottom: 2px solid orange;
  display: flex;
  justify-content: space-between;
  height: 70px;
  text-overflow: clip;
}
#eventContainer {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.attendancePlayer {
  padding-bottom: 10px;
}

#eventContainer {
  background-color: rgb(50, 50, 50);
  color: orange;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid orange;
}
#extendButton {
  height: 100%;

  border-right: 2px solid orange;
  border-left: none;
  border-top: none;
  border-bottom: none;
  background: rgb(50, 50, 50);
  border-radius: 10px;
  width: 50%;
  color: cornflowerblue;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.historyListLabel {
  font-weight: bold;
}
.historyListData {
  color: cornflowerblue !important;
}
#historyButtonContainer {
  width: 30%;
  display: flex;
  align-items: flex-start;
}

.historyHeader {
  display: inline-flex;
  align-items: center;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;

  padding-right: 10px;
  width: 30%;
}
.historyHeaderLocation {
  width: 30%;
}
#attendanceList {
  list-style-type: none;
  padding-left: 0;
}
