* {
  box-sizing: border-box;
}

li {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

#wins {
  font-weight: bold;
  font-size: 20px;
  color: orange;
  text-shadow: 1px 1px black;
}
.place {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}
p,
ul,
label {
  font-weight: bold;
}

#standings {
  background-color: cornflowerblue;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid orange;
  border-radius: 10px;
  margin-bottom: 20px;
}
