* {
  text-align: center;
  box-sizing: border-box;
}
fieldset {
  margin-left: 30%;
  margin-right: 30%;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
select {
  margin-top: 15px;
}
