fieldset {
  margin-left: 30%;
  margin-right: 30%;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
#selectTeam {
  /* margin: 0 !important;
  margin-left: auto;
  margin-right: auto; */
  background-color: cornflowerblue;
  border: 2px solid darkorange;
  border-radius: 10px;
}

#teamSelector {
  width: 60%;
  height: 40px;
  border: 2px solid darkorange;
  background-color: rgb(50, 50, 50);
  color: darkorange;
  font-size: 100%;
}
