#smallWelcomeChoice {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  color: darkorange;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

#closeInfoButton {
  font-size: 20px;
  color: darkorange;
  text-shadow: 1px 1px black;
}
