* {
  box-sizing: border-box;
  text-align: center;
}
html {
  background-color: rgb(50, 50, 50);
}
h1,
h2,
h3 {
  color: darkOrange;
  text-shadow: 1px 1px black;
}

select {
  margin-top: 15px;
}

fieldset {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: cornflowerblue;
}

#loginForm,
#registerForm,
#smallLoginForm,
#displayedRegisterForm,
#smallRegisterForm,
#welcomeInfo,
#smallWelcomeChoice,
#smallWelcomeInfo {
  background-color: cornflowerblue;
  border: 2px solid darkOrange;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
}
#smallWelcomeChoice {
  margin-left: auto;
  margin-right: auto;
}
.loader {
  border: 16px solid darkOrange;
  border-top: 16px solid rgb(50, 50, 50);
  color: darkOrange;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

input {
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border: 2px solid darkOrange;
  background: rgb(50, 50, 50);
  color: white;
  padding: 0;
  padding-left: 10px;
  text-align: left;
  font-size: 100%;
  width: 60%;
}
.error {
  margin: 10px;
}

#smallScreenLogoutButton {
  font-weight: bold;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  border-right: 5px solid darkOrange;
  border-bottom: 5px solid darkOrange;
  border-radius: 10px;
  outline: none;
}
.showPasswordsButton,
.loginButton,
.submitButton,
.cancelButton {
  border: 2px solid darkOrange;
  border-radius: 10px;
}
button {
  outline: none !important;
}

@media screen and (min-width: 768px) {
  /* up to 768px */
  #smallLoginForm,
  #smallRegisterForm,
  #smallWelcomeInfo,
  #smallWelcomeChoice,
  #smallScreenNav {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  #historyButtonContainer {
    width: 40%;
  }
  .historyHeader {
    width: 60%;
  }
  .rosterRoleLabel,
  .rosterRole,
  .rosterLabel {
    display: none;
  }
}
#selectTeam {
  width: 60%;
}

@media screen and (max-width: 767px) {
  /* these styles get added below width 768 */
  #historyHeaderLocation {
    display: none;
  }
  #selectTeam {
    width: 80%;
  }
  #loginForm,
  #registerForm,
  #welcomeInfo {
    display: none;
  }

  #navParent {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  .memberList {
    margin-bottom: 20px;
    background-color: rgb(50, 50, 50);
    width: 50%;
    border: 2px solid darkOrange;
    border-radius: 10px;
  }
  .rosterLabel {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .rosterName {
    color: cornflowerblue;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .compressedList {
    width: 50%;
  }
  #eventContainer {
    widows: 50%;
  }
  #history {
    width: 50%;
  }
  #placeContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  #changeUserName,
  #changeNameSettings,
  #changeSettingsSection,
  #registerTeamForm,
  #welcomeInfo,
  #loginForm,
  #registerForm,
  #addPlayerForm,
  #changeRoleForm,
  #changeWinningsForm,
  #changeTeamNameForm,
  #createEventForm,
  #noTeamSignInForm {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  #welcomeInfo {
    padding: 15px;
  }

  #addPlayerForm,
  #changeRoleForm,
  #changeWinningsForm,
  #changeTeamNameForm {
    margin-bottom: 20px;
  }
}

/* fonts */
