* {
  box-sizing: border-box;
  text-align: center;
}
html {
  background-color: rgb(50, 50, 50);
}
h1,
h2,
h3 {
  color: orange;
  text-shadow: 1px 1px black;
}

select {
  margin-top: 15px;
}

fieldset {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: cornflowerblue;
}

#smallLoginForm,
#smallRegisterForm,
#smallWelcomeInfo,
#smallWelcomeChoice {
  visibility: hidden;
}
#loginForm,
#registerForm,
#smallLoginForm,
#displayedRegisterForm,
#smallRegisterForm,
#welcomeInfo,
#smallWelcomeChoice,
#smallWelcomeInfo {
  background-color: cornflowerblue;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
}
#smallWelcomeChoice {
  margin-left: auto;
  margin-right: auto;
}
.loader {
  border: 16px solid orange;
  border-top: 16px solid rgb(50, 50, 50);
  color: orange;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

input {
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border: 2px solid orange;
  background: rgb(50, 50, 50);
  color: white;
  padding: 0;
  padding-left: 10px;
  text-align: left;
  font-size: 100%;
  width: 60%;
}
.error {
  margin: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 550px) {
  #historyButtonContainer {
    width: 40%;
  }
  .historyHeader {
    width: 60%;
  }
  .rosterRoleLabel,
  .rosterRole,
  .rosterLabel {
    display: none;
  }
}
#selectTeam {
  width: 60%;
}

@media screen and (max-width: 768px) {
  /* these styles get added at width 415+ */
  #historyHeaderLocation {
    display: none;
  }
  #selectTeam {
    width: 80%;
  }
  #loginForm,
  #registerForm,
  #welcomeInfo {
    display: none;
  }
  #smallLoginForm,
  #smallRegisterForm,
  #smallWelcomeInfo,
  #smallWelcomeChoice {
    visibility: visible;
  }
  #smallScreenNav {
    visibility: visible;
  }
  #smallScreenLogoutButton {
    visibility: visible;
  }
  #navParent {
    display: none;
  }
  html {
    padding: 15px;
  }
}

@media screen and (min-width: 550px) {
  .memberList {
    margin-bottom: 20px;
    background-color: rgb(50, 50, 50);
    width: 80%;
    border: 2px solid orange;
    border-radius: 10px;
  }
  .rosterLabel {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .rosterName {
    color: cornflowerblue;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
