#roster {
  background-color: #ddd;
}
.rosterLabel {
  font-weight: bold;
  color: green;
  display: inline-block;
}
.rosterName {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}
